.z--1 { z-index: -1 }
.z-0 { z-index: 0 }
.z-1 { z-index: 1 }
.z-2 { z-index: 2 }
.z-3 { z-index: 3 }
.z-4 { z-index: 4 }
.z-5 { z-index: 5 }
.z-6 { z-index: 6 }
.z-7 { z-index: 7 }
.z-8 { z-index: 8 }
.z-9 { z-index: 9 }
.z-negative { z-index: -1 }

.tooltip { cursor: help; position: relative }

// ratios
$ratios : (
    "square" : 100%,
    "80" : 80%,
    "60" : 60%,
    "50" : 50%
);

@each $name, $value in $ratios {
    .ratio-#{$name} {
        position: relative;

        &:after {
            content: "";
            padding-bottom: $value;
            display: block;
        }
    }
}




// margin and paddings
$props: (
    "p"  : "padding",
    "pr" : "padding-right",
    "pl" : "padding-left",
    "pt" : "padding-top",
    "pb" : "padding-bottom",
    "m"  : "margin",
    "mr" : "margin-right",
    "ml" : "margin-left",
    "mt" : "margin-top",
    "mb" : "margin-bottom",
);

$sizes: (
    "0" : 0,
    "1" : .125vw,
    "2" : .25vw,
    "3" : .5vw,
    "4" : 1vw,
    "5" : 2vw,
    "6" : 3vw,
    "7" : 4vw,
    "8" : 5vw,
    "9" : 6vw,
    "auto" : auto
);



// core margins and padding
@each $identifier, $property in $props {
    @each $size, $value in $sizes {
        .#{$identifier}-#{$size} { #{$property}: $value; }
    }
}

// padding-x
@each $size, $value in $sizes {
    .px-#{$size} { padding-right: $value; padding-left : $value }
}

// padding-y
@each $size, $value in $sizes {
    .py-#{$size} { padding-top: $value; padding-bottom : $value }
}

// margin-x
@each $size, $value in $sizes {
    .mx-#{$size} { margin-right: $value; margin-left : $value }
}

// margin-y
@each $size, $value in $sizes {
    .my-#{$size} { margin-top: $value; margin-bottom : $value }
}


.pull-right { margin-left: auto }
.pull-left { margin-right: auto }
.pull-center { margin-left: auto; margin-right: auto }


/*  Positions  */
.pos-fixed { position: fixed }
.pos-relative { position: relative }
.pos-absolute { position: absolute }
.pos-static { position: static }
.pos-sticky { position: sticky }
.pos-cover {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    position: absolute;
    background-position: center;
    width: 100%;
    height: 100%;
}
.pos-fixed-cover {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.pos-absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/*  Displays  */
.d-block { display: block }
.d-inline { display: inline }
.d-inline-block { display: inline-block }
.d-flex { display: flex }
.d-none { display: none }
.d-table { display: table }
.d-caption { display: table-caption }
.d-colgroup { display: table-column-group }
.d-thead { display: table-header-group }
.d-tfoot { display: table-footer-group }
.d-tbody { display: table-row-group }
.d-tb { display: table-cell }
.d-col { display: table-column }
.d-tr { display: table-row }
.d-initial { display: initial }
.hide-empty:empty { display: none; }

/*  Flex  */
.flex-horizontal {display: flex; flex-direction: row; justify-content: space-between; align-items: center }
.flex-vertical {display: flex; flex-direction: column}
.flex-center {display: flex; justify-content: center; align-items: center}

.justify-center { justify-content: center }
.justify-start { justify-content: flex-start }
.justify-end { justify-content: flex-end }
.justify-between { justify-content: space-between }
.justify-around { justify-content: space-around }
.justify-evenly { justify-content: space-evenly }

.align-center { align-items: center }
.align-start { align-items: flex-start }
.align-end { align-items: flex-end }
.align-stretch { align-items: stretch }
.align-baseline { align-items: baseline }

.flex-wrap { flex-wrap: wrap }
.flex-no-wrap { flex-wrap: nowrap }
.flex-wrap-reverse { flex-wrap: wrap-reverse }

.grow-0 { flex-grow: 0 }
.grow-1 { flex-grow: 1 }
.grow-2 { flex-grow: 2 }
.grow-3 { flex-grow: 3 }
.grow-4 { flex-grow: 4 }

.shrink-0 { flex-shrink: 0 }
.shrink-1 { flex-shrink: 1 }
.shrink-2 { flex-shrink: 2 }
.shrink-3 { flex-shrink: 3 }
.shrink-4 { flex-shrink: 4 }

.basis-auto { flex-basis: auto }
.basis-0 { flex-basis: 0 }
.basis-100 { flex-basis: 100% }

.flex-row { flex-direction: row }
.flex-column { flex-direction: column }
.flex-row-reverse { flex-direction: row-reverse }
.flex-column-reverse { flex-direction: column-reverse}


/*  Media Queries  */
.mobile-only { @include tablet-up { display: none !important; } }
.desktop-only { @include tablet-down { display: none !important; } }
.tablet-down-only { @include desktop { display: none !important; } }
.tablet-up-only { @include mobile { display: none !important; } }


/*  Text  */
.capitalize { text-transform: capitalize }
.uppercase { text-transform: uppercase }
.lowercase { text-transform: lowercase }
.ellipses { overflow:hidden; white-space:nowrap; text-overflow: ellipsis }
.one-line { white-space:nowrap }
.center-text { text-align: center }
.right-text { text-align: right }
.no-hyphen { hyphens: none };

/*  Overflow  */
.overflow-hidden { overflow: hidden }
.overflow-auto { overflow: auto }
.overflow-scroll { overflow: scroll }
.overflow-visible { overflow: visible }

/* Turning Stuff Off */
[hidden] {display: none !important}
[disabled] {pointer-events:none; opacity: 0.3}
[inivisible] {visibility: hidden; pointer-events: none}

/* Width */
.width-100 { width: 100% }
.width-95 { width: 95% }
.width-90 { width: 90% }
.width-85 { width: 85% }
.width-80 { width: 80% }
.width-75 { width: 75% }
.width-70 { width: 70% }
.width-65 { width: 65% }
.width-66 { width: 66% }
.width-60 { width: 60% }
.width-55 { width: 55% }
.width-50 { width: 50% }
.width-45 { width: 45% }
.width-40 { width: 40% }
.width-35 { width: 35% }
.width-33 { width: 33% }
.width-30 { width: 30% }
.width-25 { width: 25% }
.width-20 { width: 20% }
.width-15 { width: 15% }
.width-12 { width: 12.5% }
.width-10 { width: 10% }
.width-5 { width: 5% }

/* Height */
.height-100 { height: 100% }
.height-90 { height: 90% }
.height-80 { height: 80% }
.height-70 { height: 70% }
.height-60 { height: 60% }
.height-50 { height: 50% }
.height-40 { height: 40% }
.height-30 { height: 30% }
.height-20 { height: 20% }
.height-10 { height: 10% }
.height-95 { height: 95% }
.height-85 { height: 85% }
.height-75 { height: 75% }
.height-65 { height: 65% }
.height-55 { height: 55% }
.height-45 { height: 45% }
.height-35 { height: 35% }
.height-25 { height: 25% }
.height-15 { height: 15% }

/* Mouse */
.cursor-help { cursor: help }
.pointer { cursor: pointer }

.cursor-default { cursor: default }

.no-click { pointer-events: none }
.no-select { user-select: none };

/* Button */
.button {
    cursor: pointer;
    transition: all .2s;
    border-radius: 3px;
}

/* Text */
.bold { font-weight: 700 }
.book { font-weight: 400 }
.line-125 { line-height: 1.25em }
.line-140 { line-height: 1.40em }
.line-150 { line-height: 1.50em }
.line-175 { line-height: 1.75em }


/* Opacity */
.opacity-full { opacity : 1 }
.opacity-none { opacity : 0 }
.opacity-9 { opacity : .9 }
.opacity-8 { opacity : .8 }
.opacity-7 { opacity: .7 }
.opacity-6 { opacity: .6 }
.opacity-5 { opacity : .5 }
.opacity-4 { opacity : .4 }
.opacity-3 { opacity : .3 }
.opacity-2 { opacity : .2 }
.opacity-1 { opacity : .1 }

.saturate-9 { filter: saturate(90%) };
.saturate-8 { filter: saturate(80%) };
.saturate-7 { filter: saturate(70%) };
.saturate-6 { filter: saturate(60%) };
.saturate-5 { filter: saturate(50%) };
.saturate-4 { filter: saturate(40%) };
.saturate-3 { filter: saturate(30%) };
.saturate-2 { filter: saturate(20%) };
.saturate-1 { filter: saturate(10%) };
.saturate-0 { filter: saturate(0%) };

.bg-shadow-1 { background-color: rgba(0,0,0,.1)}
.bg-shadow-2 { background-color: rgba(0,0,0,.2)}
.bg-shadow-3 { background-color: rgba(0,0,0,.3)}
.bg-shadow-4 { background-color: rgba(0,0,0,.4)}
.bg-shadow-5 { background-color: rgba(0,0,0,.5)}
.bg-shadow-6 { background-color: rgba(0,0,0,.6)}
.bg-shadow-7 { background-color: rgba(0,0,0,.7)}
.bg-shadow-8 { background-color: rgba(0,0,0,.8)}
.bg-shadow-9 { background-color: rgba(0,0,0,.9)}

/* Border */
.circle { border-radius: 50% }
.rounded { border-radius: .2em }


.top-0 { top : 0 }
.top-50 { top : 50% }
.top-100 { top : 100% }
.bottom-0 { bottom : 0 }
.bottom-50 { bottom : 50% }
.bottom-100 { bottom : 100% }
.left-0 { left : 0 }
.left-50 { left : 50% }
.left-100 { left : 100% }
.right-0 { right : 0 }
.right-50 { right : 50% }
.right-100 { right : 100% }

.radius-1 {
    border-radius: 1em;
}

