:root {
	--dark-text: #282828;
	--near-white: rgb(251,251,251);
    --light-text: #d4d4d4;
    --light-grey: #767676;
    --mid-grey: #272727;
    --dark-grey: #0e0e0e;
    --primary-color: #76316599;
    --primary-light-color: #d7a2ff;
    --primary-font: "Teko", helvetica, sans-serif;
    --secondary-font: "Oswald", impact, arial, sans-serif;
    --accent-font: "Abel", helvetica, arial, sans-serif;
    --success-color: #38b383;
    --gold: #ffec02;
    --highlight-color : #FFA700;
    --dark-color: #333333;
    --off-white : #ADADAD;
    --light-yellow : #ffe000;

    --faction-martyrs: #CADDDC;
    --faction-mafia: #ff6800;
    --faction-mutants: #90c500;
    --faction-scientists: #ffdd0b;
    --faction-robots: #108cf9;
    --faction-bankers: #00b03d;
    --faction-commies: #ff1b00;
    --faction-aliens: #00ab79;
    --faction-cultists: #b2b2b2;
    --faction-loyalists: #864eef;
    --faction-swarm: #889941;
    --faction-society: #f43de8;
    --faction-vampires: #cc1d1d;
    --faction-ninjas: #e8e8e8;
    --faction-hackers: #6cf832;
    --faction-conquistadors: #e1a600;
    --faction-guerrillas: #3a9300;
    --faction-parasites: #ff0043;
    --faction-witches: #d127f4;
    --faction-bureau: #94e5a4;
    --faction-plants: #14ce00;
    --faction-ghosts: #4a9ed8;
    --faction-spiders: #ae7688;
    --faction-skeletons: #b2a366;
}

.faction-neutral{color: white}
.faction-martyrs {color: var(--faction-martyrs)}
.faction-mafia {color: var(--faction-mafia)}
.faction-mutants {color: var(--faction-mutants)}
.faction-scientists {color: var(--faction-scientists)}
.faction-robots {color: var(--faction-robots)}
.faction-bankers {color: var(--faction-bankers)}
.faction-commies {color: var(--faction-commies)}
.faction-aliens {color: var(--faction-aliens)}
.faction-cultists {color: var(--faction-cultists)}
.faction-loyalists {color: var(--faction-loyalists)}
.faction-swarm {color: var(--faction-swarm)}
.faction-society {color: var(--faction-society)}
.faction-vampires {color: var(--faction-vampires)}
.faction-ninjas {color: var(--faction-ninjas)}
.faction-hackers {color: var(--faction-hackers)}
.faction-conquistadors {color: var(--faction-conquistadors)}
.faction-guerrillas {color: var(--faction-guerrillas)}
.faction-parasites {color: var(--faction-parasites)}
.faction-witches {color: var(--faction-witches)}
.faction-bureau {color: var(--faction-bureau)}
.faction-plants {color: var(--faction-plants)}
.faction-ghosts {color: var(--faction-ghosts)}
.faction-spiders {color: var(--faction-spiders)}
.faction-skeletons {color: var(--faction-skeletons)}

.primary { color: var(--primary-color) }
.primary-light { color: var(--primary-light-color) }
.highlight { color: var(--highlight-color) }
.white { color: white }
.light-yellow { color: var(--light-yellow) }

.primary-font { font-family: var(--primary-font) }
.secondary-font { font-family: var(--secondary-font) }
.accent-font { font-family: var(--accent-font) }
